/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.searchstax_serverless_search_bar {
    display: flex;
}

.searchstax_serverless_search_input {
    width: 70%;
}

.searchstax_serverless_search_submit {
    width: 25%;
}

.searchstax_serverless_facet {
    display: block;
}

.searchstax_serverless_results {

}

.searchstax_serverless_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.searchstax_serverless_inline {

}

.searchstax_serverless_result {
    margin: 12px 0;
    padding: 6px;
    border: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

.searchstax_serverless_result_pagination {
    margin: 12px 0;
    display: grid;
    grid-template-columns: auto auto auto;
}